# OpenAI Config
OPENAI_API_KEY=

# Optional Qdrant Vector Database Config.
# Leave 'USE_QDRANT_VECTOR_DB=False' to use an in memory vector database.
USE_QDRANT_VECTOR_DB=False
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
